@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mudkty";
  src: local("Mudkty"),
    url("./assets/fonts/Mudkty-Wtvolkolak/mudkty-wtvolkolakgrotesque-light.ttf")
      format("truetype");
}

body {
  background-color: #151515;
  margin: 0;
  font-family: "Mudkty";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root,
.App {
  height: 100%;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
